.btnContainer {
  text-align: center;
}

.btn {
  font-family: "Architects Daughter", sans-serif;
  font-size: 18px;
  min-width: 120px;
  min-height: 30px;
  outline: none;
  border: none;
  color: #fff;
  background-color: rgb(69, 75, 117);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.btn:hover,
btn:focus {
  background-color: rgb(29, 16, 79);
  box-shadow: 0 0 10px rgba(14, 15, 17, 0.5);
}
